* {
  box-sizing: border-box;
}

body {
  background-color: #aaa;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 95%;
  margin: 0.5em auto;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  text-align: center;
  margin: 0;
  color: #fff;
  background-color: #F55A5A;
}

header img {
  width: 1.5rem;
  margin: 0.5em;
}

header p {
  margin: 0;
}

.cards {
  padding: 0.5em;
}

.card {
  display: grid;
  grid-template-columns: 22% 75%;
  grid-template-areas:
    "img img"
    "location location"
    "title title"
    "duration duration"
    "desc desc";
  column-gap: 3%;
}

.card>img {
  max-width: 100%;
  height: 100%;
  grid-area: img;
  object-fit: cover;
  border-radius: 7px;
}

.card .location {
  padding-top: 1em;
  grid-area: location;
}

.card .location * {
  margin-right: 0.5em;
}

.card .location img {
  width: 0.6rem;
}

.card .location .country {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.card .location a {
  color: #918E9B;
  text-decoration: none;
  border-bottom: 1px solid;
  font-size: 0.8rem;
}


.card .title {
  grid-area: title;
  margin: 0.15em 0 0.4em;
  font-size: 1.5rem;

}

.card .duration {
  grid-area: duration;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 0.9rem;
}

.card p {
  grid-area: desc;
  margin-top: 0.5em;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 0.9rem;
}

hr {
  margin: 1em 0;
  opacity: 0.2;
}

@media (min-width: 361px) {
  .App {
    width: 90%;
  }

  .cards {
    padding: 1em;
  }
}

@media (min-width: 541px) {
  .App {
    width: 85%;
    margin: 1em auto;
  }

  .cards {
    padding: 1.5em;
  }

  .card {
    grid-template-columns: 37% 60%;
    grid-template-areas:
      "img ."
      "img location"
      "img title"
      "img duration"
      "img desc"
      "img .";
  }

  .card .location .country {
    letter-spacing: 1px;
  }

  .card .title {
    margin: 0.2em 0 0.5em;
  }
}

@media (min-width: 769px) {
  .App {
    width: 75%;
    margin: 1.5em auto;
  }

  .cards {
    padding: 2em;
  }

  .card {
    grid-template-columns: 30% 67%;
  }

  .card .location .country {
    letter-spacing: 2px;
    font-size: 1rem;
  }

  .card .location a {
    font-size: 1rem;
  }

  .card .title {
    font-size: 2rem;
  }

  .card .duration,
  .card p {
    font-size: 1rem;
  }

  hr {
    margin: 1.5em 0;
  }
}

@media (min-width: 1278px) {
  .App {
    width: 65%;
    margin: 2em auto;
  }

  .cards {
    padding: 2.5em;
  }

  .card {
    grid-template-columns: 22% 75%;
  }

  .card .title {
    font-size: 2.5rem;
  }

  hr {
    margin: 2em 0;
  }
}